<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>
    Welcome to {{ title }}!
  </h1>

  <zc-smart-img class="demo-img" [aspectRatio]="46" [src]="'https://cdn-images-1.medium.com/max/1000/1*2ypQrL9QnxjKCRu7KMOBiA.png'" alt="'https://cdn-images-1.medium.com/freeze/max/30/1*2ypQrL9QnxjKCRu7KMOBiA.png?q=20'"></zc-smart-img>

  <h1>
    Welcome to {{ title }}!
  </h1>
  <zc-smart-img class="demo-img" [src]="'https://cdn-images-1.medium.com/max/1000/1*rjG7U4vLG_keRYoZnryxbA.png'" [dummy]="'https://cdn-images-1.medium.com/freeze/max/30/1*x7LYvfLdTQZMRKksJ_yLHA.png?q=20'"></zc-smart-img>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <zc-smart-img class="demo-img" [allowRetry]="false" [src]="'https://cdn-images-1.medium.com/max/1800/1*sg-uLNm73whmdOgKlrQdZAx.jpeg'" [dummy]="'https://cdn-images-1.medium.com/freeze/max/27/1*sg-uLNm73whmdOgKlrQdZAx.jpeg?q=20'"></zc-smart-img>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <zc-smart-img class="demo-img" [src]="'https://cdn-images-1.medium.com/max/800/1*EVE3vIm57FsKsgTGkdamKA.png'" [dummy]="'https://cdn-images-1.medium.com/freeze/max/30/1*EVE3vIm57FsKsgTGkdamKA.png?q=20'"></zc-smart-img>

</div>