<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>
    Welcome to {{ title }}!
  </h1>

  <zc-smart-img class="demo-img"  [src]="'http://wx1.sinaimg.cn/mw600/81b8829dly1fqewdprixhj20zk0qondc.jpg'" alt="'http://g.hiphotos.baidu.com/image/h%3D300/sign=a633ae3bb63eb1355bc7b1bb961fa8cb/7a899e510fb30f24649e6ed0c295d143ac4b03d8.jpg'"></zc-smart-img>

  <h1>
    Welcome to {{ title }}!
  </h1>
  <zc-smart-img class="demo-img" [src]="'http://wx3.sinaimg.cn/mw600/0073nmqGgy1fqeuwn1lllj30zk0pv4qp.jpg'" [dummy]="'http://wx3.sinaimg.cn/thumb180/0073nmqGgy1fqeuwn1lllj30zk0pv4qp.jpg'"></zc-smart-img>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <zc-smart-img class="demo-img" [allowRetry]="false" [src]="'http://wx4.sinaimg.cn/mw600/6d885e3agy1fqewgsxecqj20u00u00ux.jpg'" [dummy]="'http://wx1.sinaimg.cn/thumb180/e5842919ly1fqewe7wecfj20dw0dw40s.jpg'"></zc-smart-img>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <zc-smart-img class="demo-img" [src]="'http://wx1.sinaimg.cn/mw600/e5842919ly1fqewe7wecfj20dw0dw40s.jpg'" [dummy]="'http://tvax3.sinaimg.cn/crop.8.0.734.734.50/b2863b24ly8fg4z8wd3tfj20ku0kedgk.jpg'"></zc-smart-img>

</div>