nav>a{
    display: block;
    line-height: 3rem;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: all 200ms ease-out;
    text-decoration: none;
    width: 10rem;
    margin: 0 auto;
    font-size: larger;
    color: #000;
}
nav>a:hover{
    border: 1px solid #88d9f7;
    box-shadow: 0 4px 8px 0 rgba(62, 189, 248, 0.2), 0 0 20px 0 rgba(72, 181, 245, 0.19);
}