.error{ color: #f00; }
.dragarea{
    margin-top: 3rem;
    border: 1px dashed #ddd;
    border-radius: .2rem;
    padding: 4rem;
    color: #aaa;
}
.droparea{
    margin-top: 3rem;
    border: 1px solid #45bdf3;
    border-radius: .2rem;
    padding: 4rem;
    box-shadow: 0 0 10px 0 rgba(62, 192, 253, 0.5);
    color: #ddd;
}